# Load Libraries

In [703]:
# Load libraries
library(readxl)
library(dplyr)
library(readr)
# Inflation rate: https://fred.stlouisfed.org/series/FPCPITOTLZGUSA

# Part 1: Clean Population Data

In [704]:
pop_raw <- read.csv("/workspaces/DUKE_MIDS_QFC_Final_Project/dataset/population.csv")
glimpse(pop_raw)

Rows: 264
Columns: 2
$ DATE   <fct> 1959-01-01, 1959-04-01, 1959-07-01, 1959-10-01, 1960-01-01, 196…
$ POPTHM <fct> 176045.333333333333, 176726.666666666667, 177480.666666666667, …

In [705]:
sum(is.na(pop_raw$POPTHM))

[1] 0

In [706]:
# Creating new column population
pop_raw$population <- pop_raw$POPTHM

# Making column pop into a numeric
pop_raw$population <- as.numeric(as.character(pop_raw$POPTHM))

# Converting pop into the right unit by multiplything by 1000
pop_raw$population <- pop_raw$population * 1000

Warning message:
“NAs introduced by coercion”

In [707]:
# Time as a date
pop_raw$DATE <- as.character(pop_raw$DATE)
pop_raw$time_as_date <- as.Date(pop_raw$DATE, format = "%Y-%m-%d")

# Time as numeric (used in certain regression models or methods)
pop_raw$time_as_numeric <- as.numeric(pop_raw$time_as_date)

In [708]:
# Filter data between 1984-01-01 and 2024-04-01
pop_raw <- pop_raw[pop_raw$time_as_date >= as.Date("1984-01-01") & pop_raw$time_as_date <= as.Date("2024-04-01"), ]

# Keep only the relevant columns
columns_to_keep <- c("time_as_date", "time_as_numeric", "population")
pop_filtered <- pop_raw[, columns_to_keep]

# Check
glimpse(pop_filtered)
sum(is.na(pop_filtered))

Rows: 162
Columns: 3
$ time_as_date    <date> 1984-01-01, 1984-04-01, 1984-07-01, 1984-10-01, 1985-…
$ time_as_numeric <dbl> 5113, 5204, 5295, 5387, 5479, 5569, 5660, 5752, 5844, …
$ population      <dbl> 235604667, 236082333, 236657333, 237232667, 237672667,…

[1] 0

# Part 2: Clean Unemployment Rate

In [709]:
unemployment_rate_raw <- read.csv("/workspaces/DUKE_MIDS_QFC_Final_Project/dataset/unemployement_rate.csv")
glimpse(unemployment_rate_raw)

Rows: 308
Columns: 2
$ DATE   <fct> 1948-01-01, 1948-04-01, 1948-07-01, 1948-10-01, 1949-01-01, 194…
$ UNRATE <fct> 3.7333333333333333, 3.6666666666666667, 3.7666666666666667, 3.8…

In [710]:
# Creating new column for rate
unemployment_rate_raw$unemployment_rate <- unemployment_rate_raw$UNRATE

# Making column pop into a numeric
unemployment_rate_raw$unemployment_rate <- as.numeric(as.character(unemployment_rate_raw$UNRATE))

# Converting pop into a decima since it's in percentage 
unemployment_rate_raw$unemployment_rate <- unemployment_rate_raw$unemployment_rate / 100

# Time as a date
unemployment_rate_raw$DATE <- as.character(unemployment_rate_raw$DATE)
unemployment_rate_raw$time_as_date <- as.Date(unemployment_rate_raw$DATE, format = "%Y-%m-%d")

# Time as numeric (used in certain regression models or methods)
unemployment_rate_raw$time_as_numeric <- as.numeric(unemployment_rate_raw$time_as_date)

# Filter data between 1984-01-01 and 2024-04-01
unemployment_rate_raw <- unemployment_rate_raw[unemployment_rate_raw$time_as_date >= as.Date("1984-01-01") & unemployment_rate_raw$time_as_date <= as.Date("2024-04-01"), ]

# Keep only the relevant columns
columns_to_keep <- c("time_as_date", "time_as_numeric", "unemployment_rate")
unemployment_rate_filtered <- unemployment_rate_raw[, columns_to_keep]

# Check
glimpse(unemployment_rate_filtered)
sum(is.na(unemployment_rate_filtered))

Warning message:
“NAs introduced by coercion”

Rows: 162
Columns: 3
$ time_as_date      <date> 1984-01-01, 1984-04-01, 1984-07-01, 1984-10-01, 198…
$ time_as_numeric   <dbl> 5113, 5204, 5295, 5387, 5479, 5569, 5660, 5752, 5844…
$ unemployment_rate <dbl> 0.07866667, 0.07433333, 0.07433333, 0.07300000, 0.07…

[1] 0

# Part 3: Clean Consumer Price Index

In [711]:
# Source: https://fred.stlouisfed.org/series/CPALTT01USM657N#0
PI_raw <- read.csv("/workspaces/DUKE_MIDS_QFC_Final_Project/dataset/consumer_price_index.csv")
glimpse(CPI_raw)

Rows: 161
Columns: 5
$ DATE               <chr> "1984-01-01", "1984-04-01", "1984-07-01", "1984-10-…
$ CPALTT01USQ657N    <dbl> 1.1202636, 1.0752688, 1.0960671, 0.7334184, 0.63311…
$ ConsumerPriceIndex <dbl> 1.1202636, 1.0752688, 1.0960671, 0.7334184, 0.63311…
$ time_as_date       <date> 1984-01-01, 1984-04-01, 1984-07-01, 1984-10-01, 19…
$ time_as_numeric    <dbl> 5113, 5204, 5295, 5387, 5479, 5569, 5660, 5752, 584…

In [712]:
# Convert ConsumerPriceIndex into a numeric column
CPI_raw$ConsumerPriceIndex <- as.numeric(as.character(CPI_raw$CPALTT01USQ657N))

# Convert DATE column to a Date format
CPI_raw$DATE <- as.character(CPI_raw$DATE)
CPI_raw$time_as_date <- as.Date(CPI_raw$DATE, format = "%Y-%m-%d")

# Convert time_as_date to numeric for modeling purposes
CPI_raw$time_as_numeric <- as.numeric(CPI_raw$time_as_date)

# Filter data to include only rows between 1984-01-01 and 2024-04-01
CPI_raw <- CPI_raw[CPI_raw$time_as_date >= as.Date("1984-01-01") & 
                     CPI_raw$time_as_date <= as.Date("2024-04-01"), ]

# Keep only the relevant columns
columns_to_keep <- c("time_as_date", "time_as_numeric", "ConsumerPriceIndex")
CPI_filtered <- CPI_raw[, columns_to_keep]


# Check the updated dataset
glimpse(CPI_filtered)
sum(is.na(CPI_filtered))

Rows: 161
Columns: 3
$ time_as_date       <date> 1984-01-01, 1984-04-01, 1984-07-01, 1984-10-01, 19…
$ time_as_numeric    <dbl> 5113, 5204, 5295, 5387, 5479, 5569, 5660, 5752, 584…
$ ConsumerPriceIndex <dbl> 1.1202636, 1.0752688, 1.0960671, 0.7334184, 0.63311…

[1] 0

In [713]:
str(CPI_filtered)
tail(CPI_filtered)

'data.frame':	161 obs. of  3 variables:
 $ time_as_date      : Date, format: "1984-01-01" "1984-04-01" ...
 $ time_as_numeric   : num  5113 5204 5295 5387 5479 ...
 $ ConsumerPriceIndex: num  1.12 1.075 1.096 0.733 0.633 ...

    time_as_date time_as_numeric ConsumerPriceIndex
271 2022-10-01   19266           0.3671613
272 2023-01-01   19358           1.0449066
273 2023-04-01   19448           1.1923322
274 2023-07-01   19539           0.8664265
275 2023-10-01   19631           0.1045077
276 2024-01-01   19723           1.0425755

# Part 4: Disposable Personal Income

In [714]:
disposable_income_raw <- read.csv("/workspaces/DUKE_MIDS_QFC_Final_Project/dataset/disposable_personal_income.csv")
glimpse(disposable_income_raw)
# https://fred.stlouisfed.org/series/DSPI

Rows: 260
Columns: 2
$ DATE     <fct> 1960-01-01, 1960-04-01, 1960-07-01, 1960-10-01, 1961-01-01, 1…
$ DSPI_PC1 <fct> 5.13401, 4.26418, 4.34502, 3.47304, 3.31239, 3.64620, 4.81694…

In [715]:
# Creating new column for disposable personal income
disposable_income_raw$DisposablePersonalIncome <- disposable_income_raw$DSPI_PC1

# Making column disposable personal income numeric
disposable_income_raw$DisposablePersonalIncome <- as.numeric(as.character(disposable_income_raw$DSPI_PC1))

# Converting dis income into true unites it is in trillions so multiply by billions
disposable_income_raw$DisposablePersonalIncome <- disposable_income_raw$DisposablePersonalIncome * 1000000000

# Time as a date
disposable_income_raw$DATE <- as.character(disposable_income_raw$DATE)
disposable_income_raw$time_as_date <- as.Date(disposable_income_raw$DATE, format = "%Y-%m-%d")

# Time as numeric (used in certain regression models or methods)
disposable_income_raw$time_as_numeric <- as.numeric(disposable_income_raw$time_as_date)

# Filter data between 1984-01-01 and 2024-04-01
disposable_income_raw <- disposable_income_raw[disposable_income_raw$time_as_date >= as.Date("1984-01-01") & disposable_income_raw$time_as_date <= as.Date("2024-04-01"), ]

# Keep only the relevant columns
columns_to_keep <- c("time_as_date", "time_as_numeric", "DisposablePersonalIncome")
disposable_income_filtered <- disposable_income_raw[, columns_to_keep]

# Check
glimpse(disposable_income_filtered)
sum(is.na(disposable_income_filtered))
disposable_income_filtered

Warning message:
“NAs introduced by coercion”

Rows: 162
Columns: 3
$ time_as_date             <date> 1984-01-01, 1984-04-01, 1984-07-01, 1984-10-…
$ time_as_numeric          <dbl> 5113, 5204, 5295, 5387, 5479, 5569, 5660, 575…
$ DisposablePersonalIncome <dbl> 10729270000, 11779660000, 10982020000, 947008…

[1] 0

    time_as_date time_as_numeric DisposablePersonalIncome
97  1984-01-01   5113            10729270000
98  1984-04-01   5204            11779660000
99  1984-07-01   5295            10982020000
100 1984-10-01   5387             9470080000
101 1985-01-01   5479             7253910000
102 1985-04-01   5569             7486790000
103 1985-07-01   5660             5819840000
104 1985-10-01   5752             6193650000
105 1986-01-01   5844             7391500000
106 1986-04-01   5934             5646760000
107 1986-07-01   6025             6259350000
108 1986-10-01   6117             5019150000
109 1987-01-01   6209             4623120000
110 1987-04-01   6299             3350880000
111 1987-07-01   6390             5058160000
112 1987-10-01   6482             6832670000
113 1988-01-01   6574             7629040000
114 1988-04-01   6665            10148590000
115 1988-07-01   6756             9616820000
116 1988-10-01   6848             9249320000
117 1989-01-01   6940             9032890000
118 1989-04-01   7030             7705630000
119 1989-07-01   7121             6642920000
120 1989-10-01   7213             6309660000
121 1990-01-01   7305             6330230000
122 1990-04-01   7395             7001820000
123 1990-07-01   7486             7034680000
124 1990-10-01   7578             5831290000
125 1991-01-01   7670             4349260000
126 1991-04-01   7760             3986460000
⋮   ⋮            ⋮               ⋮
229 2017-01-01   17167            4140810000
230 2017-04-01   17257            5035230000
231 2017-07-01   17348            5183240000
232 2017-10-01   17440            5299520000
233 2018-01-01   17532            5434620000
234 2018-04-01   17622            5573150000
235 2018-07-01   17713            5928130000
236 2018-10-01   17805            6046360000
237 2019-01-01   17897            5710890000
238 2019-04-01   17987            4729290000
239 2019-07-01   18078            4234170000
240 2019-10-01   18170            3758380000
241 2020-01-01   18262            3276590000
242 2020-04-01   18353           12515970000
243 2020-07-01   18444            8408110000
244 2020-10-01   18536            5751550000
245 2021-01-01   18628           18680340000
246 2021-04-01   18718            1505510000
247 2021-07-01   18809            4622050000
248 2021-10-01   18901            6859340000
249 2022-01-01   18993           -6652650000
250 2022-04-01   19083            1069950000
251 2022-07-01   19174            3674510000
252 2022-10-01   19266            5139560000
253 2023-01-01   19358           10073050000
254 2023-04-01   19448           10265010000
255 2023-07-01   19539            8343430000
256 2023-10-01   19631            7567190000
257 2024-01-01   19723            6112900000
258 2024-04-01   19814            5416660000

# Part 5: Cleaing 10 Year Treasury Yield

In [716]:
treasury_yield_raw <- read.csv("/workspaces/DUKE_MIDS_QFC_Final_Project/dataset/10_year_treasury_yield.csv")
glimpse(treasury_yield_raw)

Rows: 286
Columns: 2
$ DATE            <fct> 1953-04-01, 1953-07-01, 1953-10-01, 1954-01-01, 1954-0…
$ IRLTLT01USQ156N <dbl> 2.996667, 2.916667, 2.643333, 2.440000, 2.346667, 2.34…

In [717]:
# Creating new column for yield
treasury_yield_raw$Yield <- treasury_yield_raw$IRLTLT01USQ156N

# Making column yield numeric
treasury_yield_raw$Yield <- as.numeric(as.character(treasury_yield_raw$IRLTLT01USQ156N))

# Converting dis income into true unites by making it a decimal
treasury_yield_raw$Yield <- treasury_yield_raw$Yield / 100

# Time as a date
treasury_yield_raw$DATE <- as.character(treasury_yield_raw$DATE)
treasury_yield_raw$time_as_date <- as.Date(treasury_yield_raw$DATE, format = "%Y-%m-%d")

# Time as numeric (used in certain regression models or methods)
treasury_yield_raw$time_as_numeric <- as.numeric(treasury_yield_raw$time_as_date)

# Filter data between 1984-01-01 and 2024-04-01
treasury_yield_raw <- treasury_yield_raw[treasury_yield_raw$time_as_date >= as.Date("1984-01-01") & treasury_yield_raw$time_as_date <= as.Date("2024-04-01"), ]

# Keep only the relevant columns
columns_to_keep <- c("time_as_date", "time_as_numeric", "Yield")
treasury_yield_filtered <- treasury_yield_raw[, columns_to_keep]

# Check
glimpse(treasury_yield_filtered)
sum(is.na(treasury_yield_filtered))
treasury_yield_filtered

Rows: 162
Columns: 3
$ time_as_date    <date> 1984-01-01, 1984-04-01, 1984-07-01, 1984-10-01, 1985-…
$ time_as_numeric <dbl> 5113, 5204, 5295, 5387, 5479, 5569, 5660, 5752, 5844, …
$ Yield           <dbl> 0.11943333, 0.13200000, 0.12866667, 0.11743333, 0.1158…

[1] 0

    time_as_date time_as_numeric Yield
124 1984-01-01   5113            0.11943333
125 1984-04-01   5204            0.13200000
126 1984-07-01   5295            0.12866667
127 1984-10-01   5387            0.11743333
128 1985-01-01   5479            0.11583333
129 1985-04-01   5569            0.10813333
130 1985-07-01   5660            0.10336667
131 1985-10-01   5752            0.09760000
132 1986-01-01   5844            0.08556667
133 1986-04-01   5934            0.07603333
134 1986-07-01   6025            0.07306667
135 1986-10-01   6117            0.07263333
136 1987-01-01   6209            0.07193333
137 1987-04-01   6299            0.08343333
138 1987-07-01   6390            0.08876667
139 1987-10-01   6482            0.09123333
140 1988-01-01   6574            0.08416667
141 1988-04-01   6665            0.08910000
142 1988-07-01   6756            0.09100000
143 1988-10-01   6848            0.08956667
144 1989-01-01   6940            0.09206667
145 1989-04-01   7030            0.08773333
146 1989-07-01   7121            0.08106667
147 1989-10-01   7213            0.07906667
148 1990-01-01   7305            0.08423333
149 1990-04-01   7395            0.08676667
150 1990-07-01   7486            0.08703333
151 1990-10-01   7578            0.08396667
152 1991-01-01   7670            0.08016667
153 1991-04-01   7760            0.08130000
⋮   ⋮            ⋮               ⋮
256 2017-01-01   17167           0.024433333
257 2017-04-01   17257           0.022633333
258 2017-07-01   17348           0.022433333
259 2017-10-01   17440           0.023700000
260 2018-01-01   17532           0.027600000
261 2018-04-01   17622           0.029200000
262 2018-07-01   17713           0.029266667
263 2018-10-01   17805           0.030333333
264 2019-01-01   17897           0.026533333
265 2019-04-01   17987           0.023333333
266 2019-07-01   18078           0.017966667
267 2019-10-01   18170           0.017933333
268 2020-01-01   18262           0.013766667
269 2020-04-01   18353           0.006866667
270 2020-07-01   18444           0.006500000
271 2020-10-01   18536           0.008633333
272 2021-01-01   18628           0.013166667
273 2021-04-01   18718           0.015933333
274 2021-07-01   18809           0.013233333
275 2021-10-01   18901           0.015366667
276 2022-01-01   18993           0.019400000
277 2022-04-01   19083           0.029300000
278 2022-07-01   19174           0.031066667
279 2022-10-01   19266           0.038300000
280 2023-01-01   19358           0.036466667
281 2023-04-01   19448           0.035933333
282 2023-07-01   19539           0.041500000
283 2023-10-01   19631           0.044400000
284 2024-01-01   19723           0.041600000
285 2024-04-01   19814           0.044433333

# Part 6: Clean Fed Funds Rate Data

In [718]:
fed_rate_raw <- read.csv("/workspaces/DUKE_MIDS_QFC_Final_Project/dataset/fed_funds_rate.csv")
glimpse(fed_rate_raw)
# https://fred.stlouisfed.org/series/FEDFUNDS

Rows: 282
Columns: 2
$ DATE     <fct> 1954-07-01, 1954-10-01, 1955-01-01, 1955-04-01, 1955-07-01, 1…
$ FEDFUNDS <fct> 1.03000000000000000000, 0.98666666666666666667, 1.34333333333…

In [719]:
# Creating new column for yield
fed_rate_raw$fed_rate <- fed_rate_raw$FEDFUNDS

# Making column yield numeric
fed_rate_raw$fed_rate <- as.numeric(as.character(fed_rate_raw$FEDFUNDS))

# Converting rate into true unites by making it a decimal
fed_rate_raw$fed_rate <- fed_rate_raw$fed_rate / 100

# Time as a date
fed_rate_raw$DATE <- as.character(fed_rate_raw$DATE)
fed_rate_raw$time_as_date <- as.Date(fed_rate_raw$DATE, format = "%Y-%m-%d")

# Time as numeric (used in certain regression models or methods)
fed_rate_raw$time_as_numeric <- as.numeric(fed_rate_raw$time_as_date)

# Filter data between 1984-01-01 and 2024-04-01
fed_rate_raw <- fed_rate_raw[fed_rate_raw$time_as_date >= as.Date("1984-01-01") & fed_rate_raw$time_as_date <= as.Date("2024-04-01"), ]

# Keep only the relevant columns
columns_to_keep <- c("time_as_date", "time_as_numeric", "fed_rate")
fed_rate_filtered <- fed_rate_raw[, columns_to_keep]

# Check
glimpse(fed_rate_filtered)
sum(is.na(fed_rate_filtered))
fed_rate_filtered

Warning message:
“NAs introduced by coercion”

Rows: 162
Columns: 3
$ time_as_date    <date> 1984-01-01, 1984-04-01, 1984-07-01, 1984-10-01, 1985-…
$ time_as_numeric <dbl> 5113, 5204, 5295, 5387, 5479, 5569, 5660, 5752, 5844, …
$ fed_rate        <dbl> 0.09686667, 0.10556667, 0.11390000, 0.09266667, 0.0847…

[1] 0

    time_as_date time_as_numeric fed_rate
119 1984-01-01   5113            0.09686667
120 1984-04-01   5204            0.10556667
121 1984-07-01   5295            0.11390000
122 1984-10-01   5387            0.09266667
123 1985-01-01   5479            0.08476667
124 1985-04-01   5569            0.07923333
125 1985-07-01   5660            0.07900000
126 1985-10-01   5752            0.08103333
127 1986-01-01   5844            0.07826667
128 1986-04-01   5934            0.06920000
129 1986-07-01   6025            0.06206667
130 1986-10-01   6117            0.06266667
131 1987-01-01   6209            0.06220000
132 1987-04-01   6299            0.06650000
133 1987-07-01   6390            0.06843333
134 1987-10-01   6482            0.06916667
135 1988-01-01   6574            0.06663333
136 1988-04-01   6665            0.07156667
137 1988-07-01   6756            0.07983333
138 1988-10-01   6848            0.08470000
139 1989-01-01   6940            0.09443333
140 1989-04-01   7030            0.09726667
141 1989-07-01   7121            0.09083333
142 1989-10-01   7213            0.08613333
143 1990-01-01   7305            0.08250000
144 1990-04-01   7395            0.08243333
145 1990-07-01   7486            0.08160000
146 1990-10-01   7578            0.07743333
147 1991-01-01   7670            0.06426667
148 1991-04-01   7760            0.05863333
⋮   ⋮            ⋮               ⋮
251 2017-01-01   17167           0.0070000000
252 2017-04-01   17257           0.0095000000
253 2017-07-01   17348           0.0115333333
254 2017-10-01   17440           0.0120333333
255 2018-01-01   17532           0.0144666667
256 2018-04-01   17622           0.0173666667
257 2018-07-01   17713           0.0192333333
258 2018-10-01   17805           0.0222000000
259 2019-01-01   17897           0.0240333333
260 2019-04-01   17987           0.0239666667
261 2019-07-01   18078           0.0219000000
262 2019-10-01   18170           0.0164333333
263 2020-01-01   18262           0.0126000000
264 2020-04-01   18353           0.0006000000
265 2020-07-01   18444           0.0009333333
266 2020-10-01   18536           0.0009000000
267 2021-01-01   18628           0.0008000000
268 2021-04-01   18718           0.0007000000
269 2021-07-01   18809           0.0009000000
270 2021-10-01   18901           0.0008000000
271 2022-01-01   18993           0.0012000000
272 2022-04-01   19083           0.0077000000
273 2022-07-01   19174           0.0219000000
274 2022-10-01   19266           0.0365333333
275 2023-01-01   19358           0.0451666667
276 2023-04-01   19448           0.0499000000
277 2023-07-01   19539           0.0526000000
278 2023-10-01   19631           0.0533000000
279 2024-01-01   19723           0.0533000000
280 2024-04-01   19814           0.0533000000

# Part 7: Clean GDP Data

In [720]:
# https://fred.stlouisfed.org/series/GDP
GDP_raw <- read.csv("/workspaces/DUKE_MIDS_QFC_Final_Project/dataset/GDP.csv")
glimpse(GDP_raw)

Rows: 311
Columns: 2
$ DATE <fct> 1947-01-01, 1947-04-01, 1947-07-01, 1947-10-01, 1948-01-01, 1948-…
$ GDP  <dbl> 243.164, 245.968, 249.585, 259.745, 265.742, 272.567, 279.196, 28…

In [721]:

# Making column GDP numeric
GDP_raw$GDP <- as.numeric(as.character(GDP_raw$GDP))

# Converting dis income into true unites by making it a decimal
GDP_raw$GDP <- GDP_raw$GDP * 1000000000

# Time as a date
GDP_raw$DATE <- as.character(GDP_raw$DATE)
GDP_raw$time_as_date <- as.Date(GDP_raw$DATE, format = "%Y-%m-%d")

# Time as numeric (used in certain regression models or methods)
GDP_raw$time_as_numeric <- as.numeric(GDP_raw$time_as_date)

# Filter data between 1984-01-01 and 2024-04-01
GDP_raw <- GDP_raw[GDP_raw$time_as_date >= as.Date("1984-01-01") & GDP_raw$time_as_date <= as.Date("2024-04-01"), ]

# Keep only the relevant columns
columns_to_keep <- c("time_as_date", "time_as_numeric", "GDP")
GDP_filtered <- GDP_raw[, columns_to_keep]

# Check
glimpse(GDP_filtered)
sum(is.na(GDP_filtered))
GDP_filtered

Rows: 162
Columns: 3
$ time_as_date    <date> 1984-01-01, 1984-04-01, 1984-07-01, 1984-10-01, 1985-…
$ time_as_numeric <dbl> 5113, 5204, 5295, 5387, 5479, 5569, 5660, 5752, 5844, …
$ GDP             <dbl> 3.908054e+12, 4.009601e+12, 4.084250e+12, 4.148551e+12…

[1] 0

    time_as_date time_as_numeric GDP
149 1984-01-01   5113            3.908054e+12
150 1984-04-01   5204            4.009601e+12
151 1984-07-01   5295            4.084250e+12
152 1984-10-01   5387            4.148551e+12
153 1985-01-01   5479            4.230168e+12
154 1985-04-01   5569            4.294887e+12
155 1985-07-01   5660            4.386773e+12
156 1985-10-01   5752            4.444094e+12
157 1986-01-01   5844            4.507894e+12
158 1986-04-01   5934            4.545340e+12
159 1986-07-01   6025            4.607669e+12
160 1986-10-01   6117            4.657627e+12
161 1987-01-01   6209            4.722156e+12
162 1987-04-01   6299            4.806160e+12
163 1987-07-01   6390            4.884555e+12
164 1987-10-01   6482            5.007994e+12
165 1988-01-01   6574            5.073372e+12
166 1988-04-01   6665            5.190036e+12
167 1988-07-01   6756            5.282835e+12
168 1988-10-01   6848            5.399509e+12
169 1989-01-01   6940            5.511253e+12
170 1989-04-01   7030            5.612463e+12
171 1989-07-01   7121            5.695365e+12
172 1989-10-01   7213            5.747237e+12
173 1990-01-01   7305            5.872701e+12
174 1990-04-01   7395            5.960028e+12
175 1990-07-01   7486            6.015116e+12
176 1990-10-01   7578            6.004733e+12
177 1991-01-01   7670            6.035178e+12
178 1991-04-01   7760            6.126862e+12
⋮   ⋮            ⋮               ⋮
281 2017-01-01   17167           1.928008e+13
282 2017-04-01   17257           1.943864e+13
283 2017-07-01   17348           1.969260e+13
284 2017-10-01   17440           2.003709e+13
285 2018-01-01   17532           2.032855e+13
286 2018-04-01   17622           2.058091e+13
287 2018-07-01   17713           2.079873e+13
288 2018-10-01   17805           2.091787e+13
289 2019-01-01   17897           2.111160e+13
290 2019-04-01   17987           2.139794e+13
291 2019-07-01   18078           2.171717e+13
292 2019-10-01   18170           2.193322e+13
293 2020-01-01   18262           2.172766e+13
294 2020-04-01   18353           1.993544e+13
295 2020-07-01   18444           2.168455e+13
296 2020-10-01   18536           2.206877e+13
297 2021-01-01   18628           2.265679e+13
298 2021-04-01   18718           2.336886e+13
299 2021-07-01   18809           2.392199e+13
300 2021-10-01   18901           2.477704e+13
301 2022-01-01   18993           2.521549e+13
302 2022-04-01   19083           2.580579e+13
303 2022-07-01   19174           2.627201e+13
304 2022-10-01   19266           2.673428e+13
305 2023-01-01   19358           2.716436e+13
306 2023-04-01   19448           2.745382e+13
307 2023-07-01   19539           2.796770e+13
308 2023-10-01   19631           2.829697e+13
309 2024-01-01   19723           2.862407e+13
310 2024-04-01   19814           2.901671e+13

In [722]:
# Add GDP growth rate column
GDP_filtered <- GDP_filtered %>%
  mutate(
    GDP_growth_rate = (GDP - lag(GDP)) / lag(GDP)
  )

# View the result
glimpse(GDP_filtered)
sum(is.na(GDP_filtered))
GDP_filtered

Rows: 162
Columns: 4
$ time_as_date    <date> 1984-01-01, 1984-04-01, 1984-07-01, 1984-10-01, 1985-…
$ time_as_numeric <dbl> 5113, 5204, 5295, 5387, 5479, 5569, 5660, 5752, 5844, …
$ GDP             <dbl> 3.908054e+12, 4.009601e+12, 4.084250e+12, 4.148551e+12…
$ GDP_growth_rate <dbl> NA, 0.025984032, 0.018617563, 0.015743649, 0.019673616…

[1] 1

    time_as_date time_as_numeric GDP          GDP_growth_rate
149 1984-01-01   5113            3.908054e+12           NA
150 1984-04-01   5204            4.009601e+12  0.025984032
151 1984-07-01   5295            4.084250e+12  0.018617563
152 1984-10-01   5387            4.148551e+12  0.015743649
153 1985-01-01   5479            4.230168e+12  0.019673616
154 1985-04-01   5569            4.294887e+12  0.015299392
155 1985-07-01   5660            4.386773e+12  0.021394276
156 1985-10-01   5752            4.444094e+12  0.013066781
157 1986-01-01   5844            4.507894e+12  0.014356132
158 1986-04-01   5934            4.545340e+12  0.008306761
159 1986-07-01   6025            4.607669e+12  0.013712726
160 1986-10-01   6117            4.657627e+12  0.010842359
161 1987-01-01   6209            4.722156e+12  0.013854480
162 1987-04-01   6299            4.806160e+12  0.017789332
163 1987-07-01   6390            4.884555e+12  0.016311359
164 1987-10-01   6482            5.007994e+12  0.025271289
165 1988-01-01   6574            5.073372e+12  0.013054728
166 1988-04-01   6665            5.190036e+12  0.022995357
167 1988-07-01   6756            5.282835e+12  0.017880223
168 1988-10-01   6848            5.399509e+12  0.022085490
169 1989-01-01   6940            5.511253e+12  0.020695215
170 1989-04-01   7030            5.612463e+12  0.018364245
171 1989-07-01   7121            5.695365e+12  0.014771055
172 1989-10-01   7213            5.747237e+12  0.009107757
173 1990-01-01   7305            5.872701e+12  0.021830316
174 1990-04-01   7395            5.960028e+12  0.014869989
175 1990-07-01   7486            6.015116e+12  0.009242910
176 1990-10-01   7578            6.004733e+12 -0.001726151
177 1991-01-01   7670            6.035178e+12  0.005070167
178 1991-04-01   7760            6.126862e+12  0.015191598
⋮   ⋮            ⋮               ⋮            ⋮
281 2017-01-01   17167           1.928008e+13  0.009990110
282 2017-04-01   17257           1.943864e+13  0.008223979
283 2017-07-01   17348           1.969260e+13  0.013064286
284 2017-10-01   17440           2.003709e+13  0.017493530
285 2018-01-01   17532           2.032855e+13  0.014546275
286 2018-04-01   17622           2.058091e+13  0.012414017
287 2018-07-01   17713           2.079873e+13  0.010583496
288 2018-10-01   17805           2.091787e+13  0.005728090
289 2019-01-01   17897           2.111160e+13  0.009261604
290 2019-04-01   17987           2.139794e+13  0.013563065
291 2019-07-01   18078           2.171717e+13  0.014918867
292 2019-10-01   18170           2.193322e+13  0.009948165
293 2020-01-01   18262           2.172766e+13 -0.009372086
294 2020-04-01   18353           1.993544e+13 -0.082485332
295 2020-07-01   18444           2.168455e+13  0.087738552
296 2020-10-01   18536           2.206877e+13  0.017718421
297 2021-01-01   18628           2.265679e+13  0.026645168
298 2021-04-01   18718           2.336886e+13  0.031428455
299 2021-07-01   18809           2.392199e+13  0.023669532
300 2021-10-01   18901           2.477704e+13  0.035743137
301 2022-01-01   18993           2.521549e+13  0.017695941
302 2022-04-01   19083           2.580579e+13  0.023410212
303 2022-07-01   19174           2.627201e+13  0.018066487
304 2022-10-01   19266           2.673428e+13  0.017595379
305 2023-01-01   19358           2.716436e+13  0.016087287
306 2023-04-01   19448           2.745382e+13  0.010655727
307 2023-07-01   19539           2.796770e+13  0.018718054
308 2023-10-01   19631           2.829697e+13  0.011773225
309 2024-01-01   19723           2.862407e+13  0.011559613
310 2024-04-01   19814           2.901671e+13  0.013717302

# Part 8: Group all data into one dataframe

In [723]:
# Merge two datasets by the 'Date' column
datasets_to_merge <- list(pop_filtered, unemployment_rate_filtered, CPI_filtered, disposable_income_filtered, treasury_yield_filtered, fed_rate_filtered, GDP_filtered)

# Re-run the merge
regressors_data <- Reduce(function(x, y) {
  merge(x, y, by = c("time_as_date", "time_as_numeric"), all = TRUE)
}, datasets_to_merge)

glimpse(regressors_data)
regressors_data

Rows: 162
Columns: 10
$ time_as_date             <date> 1984-01-01, 1984-04-01, 1984-07-01, 1984-10-…
$ time_as_numeric          <dbl> 5113, 5204, 5295, 5387, 5479, 5569, 5660, 575…
$ population               <dbl> 235604667, 236082333, 236657333, 237232667, 2…
$ unemployment_rate        <dbl> 0.07866667, 0.07433333, 0.07433333, 0.0730000…
$ ConsumerPriceIndex       <dbl> 1.1202636, 1.0752688, 1.0960671, 0.7334184, 0…
$ DisposablePersonalIncome <dbl> 10729270000, 11779660000, 10982020000, 947008…
$ Yield                    <dbl> 0.11943333, 0.13200000, 0.12866667, 0.1174333…
$ fed_rate                 <dbl> 0.09686667, 0.10556667, 0.11390000, 0.0926666…
$ GDP                      <dbl> 3.908054e+12, 4.009601e+12, 4.084250e+12, 4.1…
$ GDP_growth_rate          <dbl> NA, 0.025984032, 0.018617563, 0.015743649, 0.…

    time_as_date time_as_numeric population unemployment_rate
1   1984-01-01   5113            235604667  0.07866667
2   1984-04-01   5204            236082333  0.07433333
3   1984-07-01   5295            236657333  0.07433333
4   1984-10-01   5387            237232667  0.07300000
5   1985-01-01   5479            237672667  0.07233333
6   1985-04-01   5569            238175667  0.07300000
7   1985-07-01   5660            238789333  0.07200000
8   1985-10-01   5752            239386667  0.07033333
9   1986-01-01   5844            239860667  0.07033333
10  1986-04-01   5934            240367667  0.07166667
11  1986-07-01   6025            240961667  0.06966667
12  1986-10-01   6117            241539000  0.06833333
13  1987-01-01   6209            242009333  0.06600000
14  1987-04-01   6299            242520000  0.06266667
15  1987-07-01   6390            243120333  0.06000000
16  1987-10-01   6482            243720667  0.05833333
17  1988-01-01   6574            244207667  0.05700000
18  1988-04-01   6665            244716667  0.05466667
19  1988-07-01   6756            245354000  0.05466667
20  1988-10-01   6848            245966333  0.05333333
21  1989-01-01   6940            246460333  0.05200000
22  1989-04-01   7030            247017333  0.05233333
23  1989-07-01   7121            247698333  0.05233333
24  1989-10-01   7213            248374333  0.05366667
25  1990-01-01   7305            248936333  0.05300000
26  1990-04-01   7395            249711000  0.05333333
27  1990-07-01   7486            250594667  0.05700000
28  1990-10-01   7578            251481667  0.06133333
29  1991-01-01   7670            252257333  0.06600000
30  1991-04-01   7760            253062667  0.06833333
⋮   ⋮            ⋮               ⋮          ⋮
133 2017-01-01   17167           326052667  0.04566667
134 2017-04-01   17257           326554000  0.04366667
135 2017-07-01   17348           327140333  0.04333333
136 2017-10-01   17440           327691667  0.04166667
137 2018-01-01   17532           328091000  0.04033333
138 2018-04-01   17622           328525667  0.03933333
139 2018-07-01   17713           329039667  0.03766667
140 2018-10-01   17805           329521667  0.03833333
141 2019-01-01   17897           329868333  0.03866667
142 2019-04-01   17987           330245333  0.03633333
143 2019-07-01   18078           330728667  0.03600000
144 2019-10-01   18170           331208000  0.03600000
145 2020-01-01   18262           331536667  0.03833333
146 2020-04-01   18353           331714667  0.13000000
147 2020-07-01   18444           331887333  0.08800000
148 2020-10-01   18536           332060667  0.06733333
149 2021-01-01   18628           332004333  0.06233333
150 2021-04-01   18718           332166333  0.05933333
151 2021-07-01   18809           332497000  0.05066667
152 2021-10-01   18901           332801667  0.04166667
153 2022-01-01   18993           332990667  0.03800000
154 2022-04-01   19083           333319667  0.03633333
155 2022-07-01   19174           333762000  0.03533333
156 2022-10-01   19266           334201000  0.03566667
157 2023-01-01   19358           334547000  0.03500000
158 2023-04-01   19448           334933667  0.03566667
159 2023-07-01   19539           335430333  0.03700000
160 2023-10-01   19631           335922667  0.03733333
161 2024-01-01   19723           336307667  0.03800000
162 2024-04-01   19814           336692000  0.04000000
    ConsumerPriceIndex DisposablePersonalIncome Yield       fed_rate
1    1.1202636         10729270000              0.11943333  0.09686667
2    1.0752688         11779660000              0.13200000  0.10556667
3    1.0960671         10982020000              0.12866667  0.11390000
4    0.7334184          9470080000              0.11743333  0.09266667
5    0.6331117          7253910000              0.11583333  0.08476667
6    1.2268009          7486790000              0.10813333  0.07923333
7    0.7147296          5819840000              0.10336667  0.07900000
8    0.8947856          6193650000              0.09760000  0.08103333
9    0.2140673          7391500000              0.08556667  0.07826667
10  -0.2136100          5646760000              0.07603333  0.06920000
11   0.7339450          6259350000              0.07306667  0.06206667
12   0.5464481          5019150000              0.07263333  0.06266667
13   1.1171498          4623120000              0.07193333  0.06220000
14   1.3138250          3350880000              0.08343333  0.06650000
15   1.1494253          5058160000              0.08876667  0.06843333
16   0.8449883          6832670000              0.09123333  0.06916667
17   0.6067611          7629040000              0.08416667  0.06663333
18   1.2636416         10148590000              0.08910000  0.07156667
19   1.3329552          9616820000              0.09100000  0.07983333
20   1.0355444          9249320000              0.08956667  0.08470000
21   1.1080332          9032890000              0.09206667  0.09443333
22   1.6438356          7705630000              0.08773333  0.09726667
23   0.8086253          6642920000              0.08106667  0.09083333
24   0.9625668          6309660000              0.07906667  0.08613333
25   1.7213983          6330230000              0.08423333  0.08250000
26   1.0153606          7001820000              0.08676667  0.08243333
27   1.7268041          7034680000              0.08703333  0.08160000
28   1.6214847          5831290000              0.08396667  0.07743333
29   0.8227375          4349260000              0.08016667  0.06426667
30   0.5934718          3986460000              0.08130000  0.05863333
⋮   ⋮                  ⋮                        ⋮           ⋮
133  0.79073696         4140810000              0.024433333 0.0070000000
134  0.54351771         5035230000              0.022633333 0.0095000000
135  0.39661569         5183240000              0.022433333 0.0115333333
136  0.37062964         5299520000              0.023700000 0.0120333333
137  0.88611838         5434620000              0.027600000 0.0144666667
138  1.03307557         5573150000              0.029200000 0.0173666667
139  0.32726757         5928130000              0.029266667 0.0192333333
140 -0.05749474         6046360000              0.030333333 0.0222000000
141  0.33511603         5710890000              0.026533333 0.0240333333
142  1.19851323         4729290000              0.023333333 0.0239666667
143  0.27416601         4234170000              0.017966667 0.0219000000
144  0.21301800         3758380000              0.017933333 0.0164333333
145  0.41942742         3276590000              0.013766667 0.0126000000
146 -0.54003542        12515970000              0.006866667 0.0006000000
147  1.13148537         8408110000              0.006500000 0.0009333333
148  0.22995025         5751550000              0.008633333 0.0009000000
149  1.07311440        18680340000              0.013166667 0.0008000000
150  2.33978869         1505510000              0.015933333 0.0007000000
151  1.60097531         4622050000              0.013233333 0.0009000000
152  1.51776143         6859340000              0.015366667 0.0008000000
153  2.28346447        -6652650000              0.019400000 0.0012000000
154  2.97383290         1069950000              0.029300000 0.0077000000
155  1.31466215         3674510000              0.031066667 0.0219000000
156  0.36716128         5139560000              0.038300000 0.0365333333
157  1.04490656        10073050000              0.036466667 0.0451666667
158  1.19233217        10265010000              0.035933333 0.0499000000
159  0.86642655         8343430000              0.041500000 0.0526000000
160  0.10450774         7567190000              0.044400000 0.0533000000
161  1.04257554         6112900000              0.041600000 0.0533000000
162          NA         5416660000              0.044433333 0.0533000000
    GDP          GDP_growth_rate
1   3.908054e+12           NA
2   4.009601e+12  0.025984032
3   4.084250e+12  0.018617563
4   4.148551e+12  0.015743649
5   4.230168e+12  0.019673616
6   4.294887e+12  0.015299392
7   4.386773e+12  0.021394276
8   4.444094e+12  0.013066781
9   4.507894e+12  0.014356132
10  4.545340e+12  0.008306761
11  4.607669e+12  0.013712726
12  4.657627e+12  0.010842359
13  4.722156e+12  0.013854480
14  4.806160e+12  0.017789332
15  4.884555e+12  0.016311359
16  5.007994e+12  0.025271289
17  5.073372e+12  0.013054728
18  5.190036e+12  0.022995357
19  5.282835e+12  0.017880223
20  5.399509e+12  0.022085490
21  5.511253e+12  0.020695215
22  5.612463e+12  0.018364245
23  5.695365e+12  0.014771055
24  5.747237e+12  0.009107757
25  5.872701e+12  0.021830316
26  5.960028e+12  0.014869989
27  6.015116e+12  0.009242910
28  6.004733e+12 -0.001726151
29  6.035178e+12  0.005070167
30  6.126862e+12  0.015191598
⋮   ⋮            ⋮
133 1.928008e+13  0.009990110
134 1.943864e+13  0.008223979
135 1.969260e+13  0.013064286
136 2.003709e+13  0.017493530
137 2.032855e+13  0.014546275
138 2.058091e+13  0.012414017
139 2.079873e+13  0.010583496
140 2.091787e+13  0.005728090
141 2.111160e+13  0.009261604
142 2.139794e+13  0.013563065
143 2.171717e+13  0.014918867
144 2.193322e+13  0.009948165
145 2.172766e+13 -0.009372086
146 1.993544e+13 -0.082485332
147 2.168455e+13  0.087738552
148 2.206877e+13  0.017718421
149 2.265679e+13  0.026645168
150 2.336886e+13  0.031428455
151 2.392199e+13  0.023669532
152 2.477704e+13  0.035743137
153 2.521549e+13  0.017695941
154 2.580579e+13  0.023410212
155 2.627201e+13  0.018066487
156 2.673428e+13  0.017595379
157 2.716436e+13  0.016087287
158 2.745382e+13  0.010655727
159 2.796770e+13  0.018718054
160 2.829697e+13  0.011773225
161 2.862407e+13  0.011559613
162 2.901671e+13  0.013717302

In [724]:
saveRDS(regressors_data, "regressors_data.rds")  # Save the data to call it in other notebooks